@{

    ViewBag.Title = "ProjectCM API Server";
    bool isLogin = false;
    if (!string.IsNullOrEmpty(Session["UserId"]?.ToString()))
    {
        isLogin = true;
    }
}

@Html.Partial("~/Views/Components/RestApiCmp.cshtml")

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@


<div id="app" class="col-3">
    <div>
        <header>
            <div class="headerWrap">
                <section>
                    <h2>{{projectName}}</h2>
                    <h3>{{title}}</h3>
                </section>
                <section>
                    <div>로그인 유저</div>
                    <p>I&nbsp;&nbsp;D : {{loginUser.id}}</p>
                    <p>Name: {{loginUser.name}}</p>
                    <div>
                        로그인 상태 : @isLogin, @Session["UserId"]
                    </div>
                </section>
            </div>
            <div>
                <input type="text" name="inputId" v-model="loginInput.loginId" />
                <input type="text" name="inputPwd" v-model="loginInput.loginPwd" />
                <button v-on:click="getLogin">
                    로그인
                </button>
                <button v-on:click="logout">
                    로그아웃
                </button>
            </div>
        </header>
        <main>
            <section class="restInfoWrap">
                <rest-info-view></rest-info-view>
            </section>
        </main>
    </div>
</div>

<script>
    let vue = new Vue({
        name: "loginRoot",
        el: "#app",
        components: {
            "rest-info-view": cmpRestInfo
        },
        data: {
            projectName: "ProjectCM",
            title: "API Server",
            loginInput: {
                loginId: "",
                loginPwd: "",
            },
            loginUser: {
                id: "",
                name: "",
            },
        },
        methods: {
            fetchLogin() {
                let login = fetch("@Url.Action("DbLogin", "Login")", {
                    method: "POST",
                    body: JSON.stringify(this.loginInput),
                    headers: {
                        "Content-Type": "application/json"
                    },
                })

                return login
                    .then(res => res.json())
                    .catch(e => "실패");
            },
            async getLogin() {
                let res = await this.fetchLogin();
                this.loginUser = await res.data;
            },
            logout() {

            }
        },
        created() {
            console.log(`%c${this.title}`, "color:green; font-size:36px;");
        },
        mounted() {
            let islogin = "@isLogin" === "True" ? true : false;

            console.log(islogin);

            if (islogin) {
                this.loginUser.id = "@Session["UserId"]";
                this.loginUser.name = "@Session["UserName"]";
            } else {
                this.getLogin();
            }
        }
    })
</script>

<style>
    .headerWrap {
        display: flex;
    }

        .headerWrap > section {
            flex: 0 0 50%;
            max-width: 50%;
        }

    .restInfoWrap {
        border: 1px solid black;
        padding: 15px 30px;
    }
</style>